<link rel="stylesheet" href="/static/calgrid.css">
<script src="/static/calgrid.js"></script>

<div id="cal">
  <div class="mbox">
    <span class="taskdot">
      dummy
    </span>
  </div>
</div>

<svg id="cals" viewBox="0 0 500 500">
</svg>
