<link rel="stylesheet" href="static/treemap.css">
<script src="static/treemap.js"></script>
<script src="static/date_change.js"></script>
<p><label for="fromDate">From: </label><input id="fromDate" type="date" name="from" /></p>
<p><label for="toDate">To: </label><input id="toDate" type="date" name="to" /></p>
<svg id="cals" viewBox="0 0 1000 1000" width="100%" >
</svg>
