<h1>taskviz</h1>
  <script type="text/javascript">
    function pText(task) { return `${task.context}: ${task.task}` }

    const colorForContext = new Map()
    colorForContext.set('@Office', "red")
    colorForContext.set('@Online', "green")
    colorForContext.set('@Online-Work', "green")
    colorForContext.set('@Home', "blue")
    function getColorForContext(task) { 
      if (colorForContext.has(task.context)) {
        return colorForContext.get(task.context)
      } else {
        return "black"
      }
    }

    async function load(){
      const data = await d3.json('/data')

      console.log(`${data.length} tasks loaded`)

      var p = d3.select("body").select("div#viz").selectAll("p")
        .data(data).text(pText)
        .style("background-color", getColorForContext)

      p.enter().append("p").text(pText)
        .style("background-color", getColorForContext)

      p.exit().remove()
    }

    load()
  </script>
  <div id="viz">
    <p>dummy</p>
  </div>
