svg.month > text {
  text-anchor: middle;
  font-family: sans-serif;
  font-size: 20pt;
  fill: lightgray;
}

g.context rect {
    fill-opacity: 0.2;
}

svg.month > rect {
    stroke: black;
    stroke-dasharray: 4;
    fill-opacity: 0;
}

g.context > text {
  font-family: sans-serif;
  font-size: 10pt;
}
